<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infragistics.Win.UltraWinDock.UltraDockManager.MainForm.udmMain" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Zuken.E3.HarnessAnalyzer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Zuken.E3.HarnessAnalyzer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <!--<system.diagnostics>
        <sources>
            --><!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log --><!--
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    --><!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben --><!--
                    --><!--<add name="EventLog"/>--><!--
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            --><!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben --><!--
            --><!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> --><!--
        </sharedListeners>
    </system.diagnostics>-->
    <userSettings>
        <Zuken.E3.HarnessAnalyzer.My.MySettings>
            <setting name="LastSelectedStampFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorRangeValues" serializeAs="String">
                <value />
            </setting>
            <setting name="QMIssuesHeaderExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QMIssuesLastPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="QMIssuesLastSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="QMEditIssuesSortedColums" serializeAs="String">
                <value />
            </setting>
            <setting name="ResetDataTableSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D3DFloatPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="D3DFloatSize" serializeAs="String">
                <value>500, 250</value>
            </setting>
            <setting name="LastTransformationFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTransparency" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Last3DModelExportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AdvConnFloatSize" serializeAs="String">
                <value>500, 250</value>
            </setting>
            <setting name="AdvConnFloatPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastPdfSchematicsExportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPdfDrawingExportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="GrphCompareConsiderText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastTransparencyJT" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ConsiderCheckStateForModuleTreeSorting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnnotationsState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseSwapDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LengthToleranceForCompare" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopoCompareRefLengthClass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopoCompareCompLengthClass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopoCompareExportIgnoreColumnSizes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastPdfThreeDExportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialCurrent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DocumentToolTipSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XhcvDebugOpenTopoInDocument" serializeAs="String">
                <value>False</value>
            </setting>
        </Zuken.E3.HarnessAnalyzer.My.MySettings>
    </userSettings>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />  
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="vdxFcnv" publicKeyToken="54eac14e23c9ee53" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.6024.1.0" newVersion="6.6024.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="VectorDraw.Professional" publicKeyToken="54eac14e23c9ee53" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.8005.1.0" newVersion="8.8005.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="VectorDraw.Geometry" publicKeyToken="54eac14e23c9ee53" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.8005.1.0" newVersion="8.8005.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="VectorDraw.Generics" publicKeyToken="54eac14e23c9ee53" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.8005.1.0" newVersion="8.8005.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="VectorDraw.Serialize" publicKeyToken="54eac14e23c9ee53" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.8005.1.0" newVersion="8.8005.1.0" />

      </dependentAssembly>

       <dependentAssembly>  
          <assemblyIdentity name="Polenter.SharpSerializer" publicKeyToken="8f4f20011571ee5f" culture="neutral" />  
          <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />  
       </dependentAssembly>  
       <dependentAssembly>  
          <assemblyIdentity name="WinCopies.WindowsAPICodePack.Win32Native" publicKeyToken="ac0f4cf54a027a4d" culture="neutral" />  
          <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />  
       </dependentAssembly>  
       <dependentAssembly>  
          <assemblyIdentity name="WinCopies.WindowsAPICodePack" publicKeyToken="7cede2e7a545acde" culture="neutral" />  
          <bindingRedirect oldVersion="0.0.0.0-2.9.3.0" newVersion="2.9.3.0" />  
       </dependentAssembly>  
       <dependentAssembly>  
          <assemblyIdentity name="devDept.Eyeshot.Control.Win.v2020" publicKeyToken="5385d83d2fb4d7d9" culture="neutral" />  
          <bindingRedirect oldVersion="0.0.0.0-2020.3.428.0" newVersion="2020.3.428.0" />  
       </dependentAssembly>  
       <dependentAssembly>  
          <assemblyIdentity name="devDept.Geometry.v2020" publicKeyToken="9440825e8b4733bc" culture="neutral" />  
          <bindingRedirect oldVersion="0.0.0.0-2020.3.428.0" newVersion="2020.3.428.0" />  
       </dependentAssembly>  
       <dependentAssembly>  
          <assemblyIdentity name="devDept.Graphics.Win.v2020" publicKeyToken="f3cd437f0d8061b5" culture="neutral" />  
          <bindingRedirect oldVersion="0.0.0.0-2020.3.428.0" newVersion="2020.3.428.0" />  
       </dependentAssembly>  
    </assemblyBinding>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><applicationSettings>
    <Zuken.E3.HarnessAnalyzer.My.MySettings>
      <setting name="Check3DContent" serializeAs="String">
        <value>False</value>
      </setting>
    </Zuken.E3.HarnessAnalyzer.My.MySettings>
  </applicationSettings>
</configuration>
